web:
  cpu_quota: 50000
  build: . 
#  volumes:
#    - /home/app/ticket-system/public
  ports:
    - "5000:80"
    - "5443:443"
  links:
    - db 
  environment:
    MYSQL_HOST: db
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    HOST_URL: ${HOST_URL}
    RAILS_ENV: ${RAILS_ENV}
db:
  image: mysql:latest
  environment:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
